
.grad {
  background-color: #051a1e;
  padding: 25px;
  color: white;
  width: 100%;
  margin: 0;
}

.logo {
  align-self: center;
  padding-left: 1%;
  position: absolute;
  height: 103px;
  width: 250px;
}

.textformat {
  font-size: 30px;
  font-family: serif;
  font-style: normal;
}

.btn-primary {
  position: absolute;
  right: 30px;
  height: 44px;
  align-self: center;
  width: 130px;
  border: 2px solid #051a1e;
  color: black;
  font-weight: bold;
  background-color: white;
}

.btn-primary:hover {
  background-color: #051a1e;
  color: white;
  border: 2px solid white;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}
