
<div *ngIf="alertSave" class="alert alert-success alert-custom alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span>
  </button>
  <strong>Great!</strong> Score has been successfully saved.
</div>


<div class="row" style="padding: 1% 2%;">

  <div class="col-md-9"> <!--    Idea Details Start--------------------------------------------------------------->

    <div class="row">
      <div class="col-md-4">Evaluation Status:
        <SPAN *ngIf="isSubmit==null" style="font-family: auto; font-style: inherit;color: red">NOT STARTED</SPAN>
        <SPAN *ngIf="isSubmit==false" style="font-family: auto; font-style: inherit;color: darkorange">IN PROGRESS</SPAN>
        <SPAN *ngIf="isSubmit==true" style="font-family: auto; font-style: inherit;color: green">SUBMITTED</SPAN>
      </div>
      <div class="col-md-4">
        <mat-icon *ngFor="let icon of evalStatusIcon" [color]="icon">person_pin</mat-icon>
      </div>
    </div>
    <div *ngIf="ideaDetails" class="container" style="background-color: whitesmoke ; border: solid 2px #051a1e; margin-top:1%" >

      <div class="row">
        <div class="col-md-12" style="text-align: center; padding:0.5%; text-align: center; font-weight: bolder; font-size: 20px;border-bottom: solid 2px;
    background-color: #051a1e; color:white">
          Idea Details
        </div>

      </div>

      <div class="row" style=" padding-left: 20px">

        <div class="col-md-12" style="margin-top: 20px;
    font-size: 17px;
    font-style: italic;"><b>Idea Title: </b>{{ideaDetails[0].title}}</div>

      </div>
      <div class="row justify-content-md-center" style="margin-top: 25px;line-height: 1.8;">

        <div class="col-md-4">
          <div class="col-md-10">
            <b>Idea ID:</b> {{ideaDetails[0].ideaID}}

          </div>
          <div class="col-md-10">
            <b>Idea Status:</b> {{ideaDetails[0].statusName}}

          </div>
          <div class="col-md-10">
            <b>Idea Type:</b> {{ideaDetails[0].typeName}}

          </div>
          <div class="col-md-12">
            <b>Estimated Time: </b> {{ideaDetails[0].estTime}}

          </div>


        </div>

        <div class="col-md-4">
          <div class="col-md-10">
            <b>User ID:</b> {{ideaDetails[0].usersID}}

          </div>
          <div class="col-md-10">
            <b>Fund Amount:</b> {{ideaDetails[0].cost}}

          </div>
          <div class="col-md-10">
            <b>Documents: :</b> {{ideaDetails[0].docName}}

          </div>

        </div>

      </div>

      <div class="row" style="margin-top: 20px;padding-left: 20px;">

        <div class="col-md-12">
          <b>Idea Description:</b> {{ideaDetails[0].description}}
        </div>


      </div>

      <div class="row"  style="margin-top: 30px; padding-bottom: 30px;">
        <div class="col"  align-self-end>
          <form class="form" id="formContact" >
            <!--        <button *ngIf="!applied" type="button" style="float:right; margin-right: 45px;"-->
            <!--                class="btn btn-primary"-->
            <!--                data-toggle="modal" data-target="#studentReqModal">Apply</button>-->

            <!--        <button *ngIf="applied" type="button" style="cursor: auto; float:right; margin-right: 45px; background-color: green;color: white;font-style: italic"-->
            <!--                class="btn" >Applied</button>-->

             <button  style="float:left;margin-left: 10px;color: white;" type="submit" class="btn btn-success" (click)="downloadFile()">Download File</button>

            <!--<button style="float:left;margin-left: 10px;color: black;"-->
            <!--type="submit" class="btn btn-warning"-->
            <!--(click)="goBack()">Back To Search</button>-->
          </form>
        </div>
      </div>
    </div>


    <!-- Modal -->

    <!-- Modal -->
    <div *ngIf="ideaDetails" class="modal fade" id="studentReqModal" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row" style="line-height: 1.8;font-size: 14px">


              <div class="col-md-10">
                <b>Idea ID:</b> {{ideaDetails[0].ideaID}}

              </div>
              <div class="col-md-10">
                <b>Idea Status:</b> {{ideaDetails[0].statusName}}

              </div>
              <div class="col-md-10">
                <b>User ID:</b> {{ideaDetails[0].usersID}}

              </div>

            </div>

            <div class="form form-insert" >
              <div class="form-group form-row">
                <label for="ideatitle1" class="col-sm-2 col-form-label">Title: </label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="ideatitle1" [(ngModel)]="ideaDetails[0].title"  placeholder="Idea Title">
                  <!--              <div class="error-form" *ngIf="isTitle">*Title is Required</div>-->
                </div>
              </div>

              <div class="form-group form-row">
                <label for="description1" class="col-sm-3 col-form-label">Description: </label>
                <div class="col-sm-10">
                  <textarea name="descrip" class="form-control" id="description1" [(ngModel)]="ideaDetails[0].description" placeholder="Idea Description" ></textarea>
                  <!--              <div class="error-form" *ngIf="isDesc">*Description is required</div>-->
                </div>
              </div>

              <div class="form-group form-row">
                <label for="esttime1" class="col-sm-4 col-form-label">Estimated Time: </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="esttime1" [(ngModel)]="ideaDetails[0].estTime" placeholder="MM/DD/YYYY" >
                  <!--              <div class="error-form" *ngIf="isEsttime">*Please enter estimated time</div>-->
                </div>
              </div>

              <div class="form-group form-row">
                <label for="cost1" class="col-sm-4 col-form-label">Estimated cost: </label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" id="cost1" [(ngModel)]="ideaDetails[0].cost" placeholder="e.g. 1000$">
                </div>
              </div>

              <div class="form-group form-row">
                <label for="type1" class="col-sm-3 col-form-label">Idea Type: </label>
                <div class="col-sm-4">
                  <select class="form-control" id="type1" [(ngModel)]="ideaDetails[0].typeID" >
                    <option [value]="-1">Select</option>
                    <option [value]="ideaName.typeID" *ngFor="let ideaName of ideaTypes">{{ideaName.name}}</option>
                  </select>
                  <div class="error-form" *ngIf="isType">*Idea type is required</div>
                </div>
              </div>


              <div class="form-group form-row" style="margin-top: 35px">
                <div class="col-sm-10">
                  <label for="uploadproposal1">Upload detailed proposal: </label>
                  <input type="file" class="form-control-file" id="uploadproposal1" [(ngModel)]="ideaDetails[0].docName">
                </div>
                <button type="submit" (click)="updateIdea()"  [attr.data-dismiss]="validData? 'modal' : null"  class="btn btn-primary col-sm-2" style="max-width: 100px;max-height: 50px">Update</button>
              </div>
            </div>



          </div> <!-- Modal body ends-->
          <!--      <div class="modal-footer">-->
          <!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <!--        <button type="button" (click)="addStudentRequest()" [attr.data-dismiss]="projectsDetailsStatus? 'modal' : null" class="btn btn-primary">Submit</button>-->
          <!--      </div>-->
        </div>
      </div>
    </div>

    <!--    Score Display--------------------------------------------------------------------------------->
    <div class="row" style="align-items:center">
      <div class="col-md-5">

        <mat-card>
          <mat-card-content>
            <h4 class="example-h2">Assign Score</h4>
            <div *ngFor="let element of criteria; let i = index" style="    display: flex;
              align-items: center;">
              <label style="font-size: 14px; width: 30%;" >{{element.name}} </label>
              <mat-slider
                style="margin:0"
                class="example-margin"
                [disabled]="isSubmit"
                [invert]="false"
                [max]="5"
                [min]="0"
                [step]="0.5"
                [thumbLabel]="true"
                [tickInterval]="0.5"
                [(ngModel)]="ratings[i]"
                [vertical]="false">

              </mat-slider>

              <span style="margin-left: 1%" [matBadge]="ratings[i]"  matBadgeOverlap="false"></span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-7" >
        <ngx-gauge style="    display: flex;
          margin: auto;
          width: 150px;
          height: 150px;"
                   [type]="gaugeType"
                   [value]="gaugeValue"
                   [label]="gaugeLabel"
                   [append]="gaugeAppendText"
                   [min]="0"
                   [max]="5">
        </ngx-gauge>
        <div style="display: flex;
          justify-content: center;">
          <div *ngIf="!isSubmit" style="    margin-right: 2%;
          min-height: 40px;
          min-width: 80px;">
            <button *ngIf="isSubmit===null"  mat-raised-button color="primary" (click)="saveScore(false)">SAVE</button>
            <button *ngIf="isSubmit===false" mat-raised-button color="primary" style="background-color: darkcyan" (click)="saveScore(true)">UPDATE</button>
          </div>
          <!-- Button trigger modal -->
          <!--          <div style="min-height: 40px;min-width: 80px;">-->
          <!--          <button *ngIf="!isSubmit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
          <!--            Submit-->
          <!--          </button>-->
          <!--          </div>-->
        </div>
        <div style="min-height: 40px;min-width: 80px;">
          <button *ngIf="!isSubmit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--    Idea Details End--------------------------------------------------------------------------------->
  <div class="col-md-3" style="border: 2px solid #051a1e;
    padding: 2%;">
    Evaluators feedback
    <div *ngFor="let element of feedbackObjects" id="comment-1">
      <span id="comment-2">Evaluator {{element.usersID}}</span>
      <p id="comment-3">
        {{element.message}}
      </p>
    </div>

    <form *ngIf="!isSubmit" class="form-feedback" style="display: flex">
      <mat-form-field class="form-field">
        <textarea  matInput rows="3" style="height:30px" placeholder="Please enter comments" [(ngModel)]="feedback" name="comment"></textarea>
      </mat-form-field>
      <button  style="align-self:center" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon" (click)="addComment()">
        <mat-icon>send</mat-icon>
      </button>

    </form>

  </div>
</div>



<!-- Submit Modal  -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submitEvaluation()">Submit</button>
      </div>
    </div>
  </div>
</div>
