/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
/*@import '~font-awesome/css/font-awesome.css';*/




.table-wrapper-scroll-y {
  display: block;
  max-height: 600px;
  overflow-y: auto;
  border-style: solid;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}


.error-form {

  color: red;
  text-align: left;
  font-style: italic;
  font-size: small;
  font-weight: bold;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x:hidden}
